In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\sunso\anaconda3\lib\site-packages (8.0.25)
Requirement already satisfied: protobuf>=3.0.0 in c:\users\sunso\anaconda3\lib\site-packages (from mysql-connector-python) (3.17.0)
Requirement already satisfied: six>=1.9 in c:\users\sunso\anaconda3\lib\site-packages (from protobuf>=3.0.0->mysql-connector-python) (1.15.0)

In [ ]:
import mysql.connector as connection
mydb = connection.connect(host = 'localhost', user = 'root', passwd = 'mysql', use_pure = True)
mydb.is_connected()
cur = mydb.cursor()
cur.execute('show databases')
print(cur.fetchall())
cur.execute('create database if not exists souravsen123')
mydb = connection.connect(host = 'localhost', database = 'souravsen123', user = 'root', use_pure = True)
cur = mydb.cursor()
cur.execute('show tables')
print(cur.fetchall())
cur.execute('create table if not exists mytable (id int AUTO_INCREMENT PRIMARY KEY, Name varchar(20), RollNO int(12), DateOfJoining DATE)')
cur.execute('show tables')
print(cur.fetchall())
cur.execute('alter table mydatabase add column id int AUTO_INCREMENT PRIMARY KEY')
mydb.commit()
cur = mydb.cursor()
mydb.is_connected()
cur.execute('insert into mytable values(1, 'sourav sen', 122002006, 2020.09.23)')
sql = "insert into mytable (id, Name, RollNo, Date) values(%d, %s, %d, %d)"
val = [(1, 'sourav sen', 122002006, 2020.09.23),
      (2, 'siddharth tripathi', 122002012, 2020.09.23)
      (3, 'Eldho Varghese', 122002004, 2020.09.23),
      (4, 'Diwakar Jatti Damodhar', 122002007 2020.09.23)]

cur.execute(sql, val)
mydb.commit()
print(cur.rowcount, 'was inserted')
print(cur.lastrowid)
cur = mydb.cursor()
cur.execute('select * from souravsen123.mytable')
print(cur.fetchall())
cur.execute('select Name, RollNo from souravsen123.mytable')
for i in cur.fetchall():
    print(i)
cur.execute("select * from souravsen123.mytable where RollNo = 122002006")
sql = "select * form souravsen123.mytable where RollNo = %d"
val = 122002006
cur.execute(sql, val)
cur.execute("select * from souravsen123.mytable where RollNo like %6%")
print(cur.fetchall())
cur = mydb.cursor()
cur.execute("select * from souravsen123.mytable order by RollNo")
cur.fetchall()
cur.execute("select * from souravsen123.mytable order by RollNo desc")
mydb.is_connected()
cur = mydb.cursor()
cur.execute("delete from souravsen123.mytable where RollNo = 122002007")
mydb.commit()
mydb = connecton.connect(host = 'localhost', database = 'souravsen123', user = 'root', passwd = 'mysql', use_pure = True)
cur = mydb.cursor()
cur.execute("drop table souravsen123.mytable")
cur.execute("drop table if only exists souravsen123.mytable")
cur.exeute("update souravsen123.mytable set Name = 'Sourav Sen' where Name = 'sourav sen'")
query = "update souravsen123.mytable set Name = %s where Name = %s"
value = ('Sourav Sen', 'souravsen')
cur.execute(query, val)
cur.execute('select * from soruavsen123.mytable limit 4') # print the values from the start to the 4th row
result = cut.fetchall()
for i in result:
    print(i)
cur.execute("select * from souravsen123.mytable limit 4 offset 2") # print the values from 3 to 4 rows
for i in cur.fetchall():
    print(i)

    
# Join two different tables
query = "select users.name as users, products.name as favourite form user inner join products on users.fav = products.id"
cur.execute(query)

In [ ]:
import pandas as pd
mydb = connection.connect(host = 'localhost', database = 'souravsen', user = 'root', passwd = 'mysql', use_pure = True)
mydb.is_connected()
cur = mydb.cursor()
data = pd.read_sql("select * from mytable", mydb)
print(data)
data.to_csv('mytable.csv')
data1 = pd.read_csv('mytable.csv')

In [ ]:
with open ('glassdata.csv', 'r') as data:
    next data
    data_csv = csv.reader(data, delimiter  = "\n")
    print(data_csv)
    for i in enumerate(data_csv):
        print(i)
        for j in i[1]:
            cur.execute("insert into souravsen123.mytable values ({})".format(j))
    print('All the DATA inserted')
    mydb.commit()

In [ ]:
with open('glassdata.csv', 'r') as data:
    next data
    data_csv = csv.reader(data, delimiter = '\n')
    print(data_csv)
    for i in data_csv:
        cur.execute("insert into souravsen123.mytable values({})".format(j[1]))
    print('All the DATA inserted')
    mydb.commit()

In [1]:
import mysql.connector as connection
mydb = connection.connect(host = 'localhost', user = 'root', passwd = 'mysql', use_pure = True)

In [5]:
cur = mydb.cursor()

In [11]:
cur.execute('show databases')

In [12]:
for i in cur.fetchall():
    print(i)

('homework',)
('information_schema',)
('mysql',)
('mytablefinal',)
('newdata',)
('performance_schema',)
('sakila',)
('sen123',)
('senn123',)
('sourav123',)
('souravsen',)
('sys',)
('test1234',)
('world',)

In [8]:
cur.execute("create database if not exists Homework")

In [14]:
cur.execute("create table Homework.CarbonNanoTube(col1 int)")

In [19]:
cur.execute("alter table Homework.CarbonNanoTube add column col2 int")

In [21]:
cur.execute("alter table Homework.CarbonNanoTube add column col3 int")
cur.execute("alter table Homework.CarbonNanoTube add column col4 int")
cur.execute("alter table Homework.CarbonNanoTube add column col5 int")
cur.execute("alter table Homework.CarbonNanoTube add column col6 int")
cur.execute("alter table Homework.CarbonNanoTube add column col7 int")
cur.execute("alter table Homework.CarbonNanoTube add column col8 int")
cur.execute("alter table Homework.CarbonNanoTube add column col9 int")
cur.execute("alter table Homework.CarbonNanoTube add column col10 int")
cur.execute("alter table Homework.CarbonNanoTube add column col11 int")
cur.execute("alter table Homework.CarbonNanoTube add column col12 int")
cur.execute("alter table Homework.CarbonNanoTube add column col13 int")
cur.execute("alter table Homework.CarbonNanoTube add column col14 int")

In [27]:
cur.execute("alter table Homework.CarbonNanoTube add column id int auto_increment primary key first")

In [28]:
cur.execute("alter table Homework.CarbonNanoTube drop column id")

In [23]:
cur.execute("alter table Homework.CarbonNanoTube add column id int auto_increment primary key")

In [2]:
mydb = connection.connect(host = 'localhost', database = 'Homework', user = 'root', passwd = 'mysql', use_pure = True)
cur = mydb.cursor()
cur.execute('show tables')
for i in cur.fetchall():
    print(i)

('carbonnanotube',)

In [3]:
import csv

In [ ]:
with open('carbon_nanotubes.csv', 'r') as data:
    use = []
    next(data)
    data_csv = csv.reader(data, delimiter = ',')
    for i in enumearte(data_csv):
        for j in i:
            a = j.split(';')
            for k in a:
                use.append(int(k))
        #print(use)
        for x in use:
            print(x)
        print("***********")
            #cur.execute("insert into Homework.CarbonNanoTube values({})".format(x))
    use.clear()
    print('---All the DATA Inserted---')
    mydb.commit()

In [5]:
for i in cur.column_names():
    print(i)

TypeError: 'tuple' object is not callable

In [ ]:
with open('carbon_nanotubes.csv', 'r') as data:
    use = []
    next(data)
    data_csv = csv.reader(data, delimiter = ',')
    for i in enumerate(data_csv):
        for j in i[1]:
            a = j.split(';')
            for k in a:
                use.append(int(k))
        #print(use)
        for x in use:
            cur.execute("insert into Homework.CarbonNanoTube values({})".format(','.join(",".join(x))))
            print('*****')
        use.clear()
    mydb.commit()